.row {
    margin-left: 0px;
    margin-right: 0px;
}

.actions {
    padding: 25px;
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
}

.actions form {
    width: 50%;
    display: inline;
}

.work {
    margin-top: 25px;
}

.task {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid #5cb85c;
}

.task button:focus + span.task-name {
    color: #449D44;
}

.task-done {
    font-style: italic;
    color: #848484;
    border-left: 5px solid #31b0d5;
}

.list-title {
    text-transform: uppercase;
    padding-bottom: 15px;
}