<div class="col-xs-3">
    <form id="user-select" action="/user/change" method="post">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <select class="form-control input-lg" name="user"
                    onchange="document.getElementById('user-select').submit()">
                {% for current_user in users %}
                {% if current_user == user %}
                <option selected>{{ current_user }}</option>
                {% else %}
                <option>{{ current_user }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

    </form>
</div>

<div class="col-xs-6">
    <form action="/{{ user }}/task" method="post" class="form-inline">
        <input type="text" name="name" class="form-control input-lg" placeholder="What do you have to do ?"
               required
               autofocus>
        <button type="submit" class="btn btn-lg btn-info">
            <span class="glyphicon glyphicon-plus"></span>
            Add !
        </button>
    </form>
</div>

<div class="col-xs-3">
    <form action="/{{ user }}/empty" method="get">
        <button type="submit" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-trash"></span>
            Empty
        </button>
    </form>
</div>