<div class="col-xs-6">
    <h2 class="list-title">
        <span class="glyphicon glyphicon-th-list"></span>
        Done ({{ finished | length }})
    </h2>
    {% if not finished %}
    <em>Nothing done yet...</em>
    {% endif %}

    {% for task in finished %}
    <div class="task task-done">
        <span class="glyphicon glyphicon-ok"></span>
        {{ task.name }}
    </div>
    {% endfor %}
</div>