<!DOCTYPE html>
<html>
<head>
    <title>Taskr ({{ todo | length }})</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<div class="row actions">
    <div class="container">
        {% include 'actions.html' %}
    </div>
</div>
<div class="row work">
    <div class="container">
        {% include 'todo.html' %}
        {% include 'done.html' %}
    </div>
</div>

</body>
</html>