<div class="col-xs-6">
    <h2 class="list-title">
        <span class="glyphicon glyphicon-th-list"></span>
        To do ({{ todo | length }})
    </h2>
    {% if not todo %}
    <em>Nothing to do !</em>
    {% endif %}

    {% for task in todo %}
    <div class="task">
        <form action="/{{ user }}/done" method="post">
            <input type="hidden" name="id" value="{{ task.id }}">
            <button type="submit" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <span class="task-name">{{ task.name }}</span>
        </form>
    </div>
    {% endfor %}
</div>